@import url('https://fonts.googleapis.com/css2?family=Roboto');

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
}

.bold {
    font-weight: 900;
}

.header, .footer {
    background-color: #1F2937;
    color: white;
}

.header {
    padding: 20px 10%;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer {
    display: flex;
    justify-content: center;
}

.header-menu-container {
    display: flex;
    justify-content: space-between;
}

.logo {
    padding: 10px;
    color: #F9FAF8;
    background-color: chocolate;
    font-size: 24px;
    font-weight: bolder;
    border-radius: 50%;
    width: fit-content;
    height: fit-content;
    flex-shrink: 0;
}

.menu {
    padding: 0;
    margin-left: 32px;
    list-style: none;
    display: flex;
    gap: 32px;
}

.menu li {
    border-bottom: 3px solid transparent;
    transition: border-bottom 0.3s ease;
}

.menu li:hover {
    border-bottom: 3px solid orange;
    border-radius: 2px;
}

.menu a {
    color: white;
    text-decoration: none;
}

.menu a:active {
    color: yellowgreen;
}

.menu a:visited {
    color: chocolate;
}

.header-info-container {
    margin: 24px 0;
    display: flex;
    justify-content: space-between;
    gap: 32px;
}

.header-info {
    display: flex;
    flex-direction: column;
    gap: 24px;
    justify-content: center;
    flex: 1;
}

.header-info h1, .header-info p {
    margin: 0;
    max-width: 500px;
    flex: 1;
}

.header-info h1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.header-info p {
    text-wrap-style: balance;
    font-size: 18px;
    color: #E5E7EB;
}

.btn {
    box-sizing: border-box;
    max-width: fit-content;
    background-color: #3882F6;
    color: white;
    font-weight: 900;
    min-width: 100px;
    min-height: 30px;
    border-radius: 10px;
    flex: 1 0 auto;
    border-style: none;
}

.header-img {
    flex: none;
}

.main-info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 250px;
}

ul.card-list {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    gap: 64px;
    flex-wrap: wrap;
}

ul.card-list p {
    text-wrap-mode: wrap;
}

ul.card-list .card {
    display: flex;
    flex-direction: column;
    max-width: 150px;
    transition: transform 0.3s ease;
}

ul.card-list .card:hover {
    transform: scale(1.1);
}

ul.card-list img {
    border: 3px solid #3882F6;
    border-radius: 20px;
    transition: border-color 0.6s ease;
    object-fit: cover;
}

ul.card-list img:hover {
    border-color:#1F2937;
}

section.quote-container p {
    display: flex;
    flex-direction: column;
    text-align: center;
    text-wrap-mode: wrap;
    font-size: larger;
}

section.quote-container .author {
    align-self: flex-end;
    font-size: medium;
    margin-top: 16px;
}

div.support-container {
    margin: 150px 0;
    display: flex;
    align-items: center;
    background-color: #3882F6;
    padding: 8px 64px;
    gap: 64px;
    border-radius: 5px;
}

div.support-text {
    color: white;
}

div.support-text p {
    font-size: 14px;
}

div.support-container .btn {
    border: 2px solid white;
}